<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd"
       default-autowire="byName">

    <bean class="com.athena.sample.User">
<!--        <property name="worldEchoService1" ref="worldEchoService"/>-->
    </bean>

<!--    <bean id="worldEchoService" class="com.athena.sample.WorldEchoService"/>-->

</beans>