<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jsf="http://jsf.jd.com/schema/jsf"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    http://jsf.jd.com/schema/jsf http://jsf.jd.com/schema/jsf/jsf.xsd">

    <jsf:registry id="jsfRegistry" index="i.jsf.jd.com"/>

    <!-- 服务端 -->
    <jsf:server id="eptWareOpenJsf" protocol="jsf"/>
    <!--外部-->

    <jsf:provider id="echoService" interface="com.athena.sample.jsf.EchoService" alias="sl.1.1" ref="echoServiceImpl"/>

</beans>